<%= form_with model: @category, method: :patch do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
    <% @category.errors.full_messages_for(:title).each do |message| %>
      <div class="form-text form-text-validation"><%= message %></div>
    <% end %>
  <%= form.submit 'Update Category' %>
<% end %>